<%= form_for(@application_form) do |f| %>
  <% if @application_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application_form.errors.count, "error") %> prohibited this application_form from being saved:</h2>

      <ul>
      <% @application_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :othername %><br>
    <%= f.text_field :othername %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :dateofbirth %><br>
    <%= f.date_select :dateofbirth %>
  </div>
  <div class="field">
    <%= f.label :religion %><br>
    <%= f.text_field :religion %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :alive_or_not %><br>
    <%= f.text_field :alive_or_not %>
  </div>
  <div class="field">
    <%= f.label :any_physical_defects %><br>
    <%= f.text_field :any_physical_defects %>
  </div>
  <div class="field">
    <%= f.label :school_background %><br>
    <%= f.text_field :school_background %>
  </div>
  <div class="field">
    <%= f.label :ple_subject1 %><br>
    <%= f.text_field :ple_subject1 %>
  </div>
  <div class="field">
    <%= f.label :ple_subject2 %><br>
    <%= f.text_field :ple_subject2 %>
  </div>
  <div class="field">
    <%= f.label :ple_subject3 %><br>
    <%= f.text_field :ple_subject3 %>
  </div>
  <div class="field">
    <%= f.label :ple_subject4 %><br>
    <%= f.text_field :ple_subject4 %>
  </div>
  <div class="field">
    <%= f.label :class_applied %><br>
    <%= f.text_field :class_applied %>
  </div>
  <div class="field">
    <%= f.label :former_school %><br>
    <%= f.text_field :former_school %>
  </div>
  <div class="field">
    <%= f.label :reason_for_leaving %><br>
    <%= f.text_area :reason_for_leaving %>
  </div>
  <div class="field">
    <%= f.label :cocurricular_activity %><br>
    <%= f.text_area :cocurricular_activity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
