<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @application_form.surname %>
</p>

<p>
  <strong>Othername:</strong>
  <%= @application_form.othername %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @application_form.gender %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @application_form.dateofbirth %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @application_form.religion %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @application_form.occupation %>
</p>

<p>
  <strong>Address:</strong>
  <%= @application_form.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @application_form.telephone %>
</p>

<p>
  <strong>Alive or not:</strong>
  <%= @application_form.alive_or_not %>
</p>

<p>
  <strong>Any physical defects:</strong>
  <%= @application_form.any_physical_defects %>
</p>

<p>
  <strong>School background:</strong>
  <%= @application_form.school_background %>
</p>

<p>
  <strong>Ple subject1:</strong>
  <%= @application_form.ple_subject1 %>
</p>

<p>
  <strong>Ple subject2:</strong>
  <%= @application_form.ple_subject2 %>
</p>

<p>
  <strong>Ple subject3:</strong>
  <%= @application_form.ple_subject3 %>
</p>

<p>
  <strong>Ple subject4:</strong>
  <%= @application_form.ple_subject4 %>
</p>

<p>
  <strong>Class applied:</strong>
  <%= @application_form.class_applied %>
</p>

<p>
  <strong>Former school:</strong>
  <%= @application_form.former_school %>
</p>

<p>
  <strong>Reason for leaving:</strong>
  <%= @application_form.reason_for_leaving %>
</p>

<p>
  <strong>Cocurricular activity:</strong>
  <%= @application_form.cocurricular_activity %>
</p>

<%= link_to 'Edit', edit_application_form_path(@application_form) %> |
<%= link_to 'Back', application_forms_path %>
