<!DOCTYPE html>
<html>
<head>
  <title>SchoolFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_tag(schools_path, :method => "get") do%>
	<%= text_field_tag :search, params[:search]%>
	<button type="submit">search</button>
<% end %>

<%= yield %>

</body>
</html>
